.listshow {
  padding: 2.5%;
  background-color: aquamarine;
  box-sizing: border-box;
  border-radius: 25px;
}
.listshowtitle {
  text-align: center;
  text-decoration: wavy;
}

.listshowcol {
  min-height: 80vh;
}

.listshowitems {
  min-height: 100%;
  border-radius: 25px;
  background-color: white;

  h5 {
    text-align: center;
    text-transform: uppercase;
    padding: 2.5%;
  }
  ul {
    padding-inline-start: 0px;
  }
  li {
    list-style: none;
  }
}
.dropzone {
  min-height: 300px;
}
